<h1>Capitole de @ViewBag.Subject.Name din clasa @ViewBag.Grade.GradeName<h1>
    
        <hr>
        <br />

        <br />

        @foreach (var chapter in ViewBag.Chapters)
        {
            <h3>@chapter.ChapterTitle</h3>
            <a asp-action="ArticlesForSubjectAndGradeAndChapter" asp-controller="Articles" asp-route-subjectid="@ViewBag.Subject.Id" asp-route-gradeid="@ViewBag.Grade.Id" asp-route-chapterid="@chapter.Id">@chapter.ChapterTitle</a>
            <a class="btn alert-success" asp-action="Show" asp-controller="Chapters" asp-route-id="@chapter.Id">Afisare capitol</a>
            <a class="btn alert-success" asp-action="Edit" asp-controller="Chapters" asp-route-id="@chapter.Id">Editare capitol</a>
            <br />

        }
        
        @*Comentariu in Razor!!*@

