<div class="text-center">
<h1>Materii<h1>
<hr>
       
@if(ViewBag.EsteAdmin==true)
{
    <a class="btn alert-primary" asp-action="New" asp-controller="Subjects">Adauga materie</a>
}
<br/>


@if(TempData.ContainsKey("message"))
{
    <h1>@TempData["message"]</h1>
    <br/>
}

<br/>

@foreach(var subject in ViewBag.Subjects){
    <h3>@subject.Name</h3>
            <a class="btn alert-primary" asp-action="GradesForSubject" asp-controller="Grades" asp-route-id="@subject.Id">Afisare materie</a>

    @if(ViewBag.EsteAdmin==true)
{
    @*<a class="btn alert-success" asp-action="Show" asp-controller="Subjects" asp-route-id="@subject.Id">Afisare materie</a>*@
    <a class="btn alert-primary" asp-action="Edit" asp-controller="Subjects" asp-route-id="@subject.Id">Editare materie</a>
}
    <br/>
                <br />


}